.weatherPic{

background-color:#BEC2D8;
background-size:cover;

}
/* canvas{
	border: 10px solid black;
	background-color:white;
	text-align:center;
} */
.box{

	margin-left:400px;
	margin-right:200px;
	margin-top:500px;
	background-color:white;

}
.weather-form{

	text-align:center;
	margin-top:100px;
	color:#fff;
	font-size:20px;


}


/* 
fallingWeirdo {
   text-align: center;
  }


.fallingWeirdo span {
   display: inline-block;
   width: 160px;
   height: 160px;
    margin: -280px 40px 54px  -34px;
    background:url("Images/stars.png");

   
   -webkit-animation: fallingWeirdo 10s infinite  linear;
   -moz-animation: fallingWeirdo 10s infinite  linear;
}

.fallingWeirdo span:nth-child(5n+5) {

   -webkit-animation-delay: 1.3s;
   -moz-animation-delay: 1.3s;
}
.fallingWeirdospan:nth-child(3n+2) {

   -webkit-animation-delay: 1.5s;
   -moz-animation-delay: 1.5s;
}
.fallingWeirdo span:nth-child(2n+5) {

   -webkit-animation-delay: 1.7s;
   -moz-animation-delay: 1.7s;
}

.fallingWeirdo span:nth-child(3n+10) {

   -webkit-animation-delay: 2.7s;
   -moz-animation-delay: 2.7s;
}
.fallingWeirdo span:nth-child(7n+2) {

   -webkit-animation-delay: 3.5s;
   -moz-animation-delay: 3.5s;
}
.fallingWeirdo span:nth-child(4n+5) {

   -webkit-animation-delay: 5.5s;
   -moz-animation-delay: 5.5s;
}
.fallingWeirdo span:nth-child(3n+7) {

   -webkit-animation-delay: 8s;
   -moz-animation-delay: 8s;
}
@-webkit-keyframes fallingWeirdo{
 0% {
   opacity: 1;

    -webkit-transform: translate(0, 0px) rotateZ(0deg);
 }
 75% {
   opacity: 1;

    -webkit-transform: translate(100px, 600px) rotateZ(270deg); 
 }
 100% {
   opacity: 0;

    -webkit-transform: translate(150px, 800px) rotateZ(360deg);
 }
}
@-moz-keyframes fallingWeirdo {
 0% {
   opacity: 1;
   
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
 }
 75% {
   opacity: 1;
  
    -webkit-transform: translate(100px, 600px) rotateZ(270deg); 
 }
 100% {
   opacity: 0;
   
    -webkit-transform: translate(150px, 800px) rotateZ(360deg);
 }
} */